<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HFMS.Properties.Settings.connectionString" connectionString="Data Source=UNIQUE-PC\SQLEXPRESS;Initial Catalog=HFMS_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConStr" value="Data Source=UNIQUE-PC\SQLEXPRESS;Initial Catalog=HFMS_db;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    <add key="mailfrom" value="karrar.jafarioutlook@gmail.com" />
    <add key="mailpassword" value="3138251224" />
    <add key="mailsmtpserver" value="smtp.gmail.com" />
    <add key="smtpport" value="587" />
  </appSettings>
</configuration>